@page
@model assessment_api_developer.UI.Pages.CustomersModel
@{
    ViewData["Title"] = "Customer Registry";
}

<h2>@ViewData["Title"]</h2>

<div class="col-6">
    <select id="customerDropdown" class="form-select col-md-6" asp-for="SelectedCustomerId" asp-items="Model.Customers" onchange="this.form.submit()">
        <option value="">Select a customer</option>
    </select>
</div>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger mt-3">@Model.Message</div>
}

<div class="card mt-3">
    <div class="card-body">
        <div class="col-md-6">
            <h1>Add customer</h1>

            <form id="customerForm" method="post" class="container">
                <input type="hidden" asp-for="Customer.ID" value="0" />
                @* <span class="text-danger" asp-validation-for="Customer.ID"></span> *@

                <div class="mb-1">
                    <label asp-for="Customer.Name" class="form-label"></label>
                    <input asp-for="Customer.Name" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.Name"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.Address" class="form-label"></label>
                    <input asp-for="Customer.Address" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.Address"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.Email" class="form-label"></label>
                    <input asp-for="Customer.Email" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.Email"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.Phone" class="form-label"></label>
                    <input asp-for="Customer.Phone" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.Phone"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.City" class="form-label"></label>
                    <input asp-for="Customer.City" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.City"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.State" class="form-label">Province/State</label>
                    <input asp-for="Customer.State" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.State"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.Zip" class="form-label">Postal/Zip Code</label>
                    <input asp-for="Customer.Zip" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.Zip"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.Country" class="form-label"></label>
                    <select asp-for="Customer.Country" class="form-select">
                        <option value="Canada">Canada</option>
                        <option value="UnitedStates">United States</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Customer.Country"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.Notes" class="form-label"></label>
                    <input asp-for="Customer.Notes" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.Notes"></span>
                </div>


                <h1 class="mt-4">Customer Contact Details</h1>

                <div class="mb-1">
                    <label asp-for="Customer.ContactName" class="form-label">Name</label>
                    <input asp-for="Customer.ContactName" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.ContactName"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.ContactEmail" class="form-label">Email</label>
                    <input asp-for="Customer.ContactEmail" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.ContactEmail"></span>
                </div>

                <div class="mb-1">
                    <label asp-for="Customer.ContactPhone" class="form-label">Phone</label>
                    <input asp-for="Customer.ContactPhone" class="form-control" />
                    <span class="text-danger" asp-validation-for="Customer.ContactPhone"></span>
                </div>

                <div class="d-flex gap-2">
                    <button class="btn btn-primary" type="submit" asp-page-handler="Add">Add</button>
                    <button class="btn btn-success" type="submit" asp-page-handler="Edit">Edit</button>
                    <button class="btn btn-danger" type="submit" asp-page-handler="Delete">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/validation.js"></script>

    <script>
        document.getElementById('customerDropdown').addEventListener('change', function () {
            var customerId = this.value;
            if (customerId) {
                fetch(`https://localhost:7015/api/V1/Customers/${customerId}`)
                    .then(response => response.json())
                    .then(data => {
                        document.querySelector('[name="Customer.ID"]').value = data.id;
                        document.querySelector('[name="Customer.Name"]').value = data.name;
                        document.querySelector('[name="Customer.Address"]').value = data.address;
                        document.querySelector('[name="Customer.Email"]').value = data.email;
                        document.querySelector('[name="Customer.Phone"]').value = data.phone;
                        document.querySelector('[name="Customer.City"]').value = data.city;
                        document.querySelector('[name="Customer.State"]').value = data.state;
                        document.querySelector('[name="Customer.Zip"]').value = data.zip;
                        document.querySelector('[name="Customer.Country"]').value = data.country;
                        document.querySelector('[name="Customer.Notes"]').value = data.notes;
                        document.querySelector('[name="Customer.ContactName"]').value = data.contactName;
                        document.querySelector('[name="Customer.ContactEmail"]').value = data.contactEmail;
                        document.querySelector('[name="Customer.ContactPhone"]').value = data.contactPhone;
                    });
            }
        });
    </script>
}